{% extends 'StelmakApp_2/base.html' %}
{% block title %}
Описание моей образовательной программы
{% endblock %}

{% block small %}
Описание моей образовательной программы
{% endblock %}

{% block content %}
<h2><a href="https://www.hse.ru/ba/philology/">Филология</a></h2>

<h4>Что я буду изучать?</h4>
<ul>
  <li>Три иностранных языка: английский и два языка на выбор из предложенных на программе.</li>
  <li>Историю русской и европейской литератур, от древнейших времен до современности.</li>
  <li>Академическое письмо на русском, английском и втором иностранном языке.</li>
  <li>Историю русского литературного языка.</li>
</ul>

<h4>Чему научусь?</h4>
<ul>
  <li>Понимать, как устроен язык — грамматика, лексика, фонетика, синтаксис. Анализировать литературные и речевые тексты.</li>
  <li>Изучать развитие языка, изменения в языке с течением времени, а также литературные эпохи, стили и направления.</li>
  <li>Понимать смыслы и особенности художественных произведений, уметь интерпретировать и критически оценивать тексты.</li>
  <li>Овладевать навыками перевода, как письменного, так и устного, а также изучать язык с точки зрения его структуры и функции.</li>
</ul>

<h4>Преимущества программы</h4>
<p>Бакалавр приобретает навык не только чтения, но и написания текстов различных жанров, а также перевода, редакторской и корректорской правки. Одновременно идет фундаментальное изучение и русской, и зарубежной литературы, причем последней в оригинале.</p>

<h4>Перспективы после обучения</h4>
<p>Для бакалавра-филолога всегда найдется работа по душе:</p>
<ul>
  <li>Авторская работа с текстами в журналах, книжных издательствах, в том числе в интернет-изданиях: редактор, корректор, автор статей, копирайтер, рерайтер.</li>
  <li>Корреспондентом, обозревателем, научным консультантом в медийном пространстве.</li>
  <li>Переводчиком художественных и научных текстов.</li>
  <li>Устным переводчиком, обеспечивающим последовательный перевод на рабочем месте, на встречах и мероприятиях.</li>
</ul>

{% endblock %}